/* open-sans-regular - latin */
@import 'iconfont';

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'); /* Super Modern Browsers */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v18-latin-italic.woff2') format('woff2'); /* Super Modern Browsers */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v18-latin-600.woff2') format('woff2'); /* Super Modern Browsers */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v18-latin-600italic.woff2') format('woff2'); /* Super Modern Browsers */
}

/* Google Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Outlined.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: text-bottom;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: text-bottom;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Customized styles */
body {
  font-family: 'Open Sans', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 300;
}

small, .small {
  font-weight: 300;
}

.small-caps {
  font-variant-caps: small-caps;
}

a {
  text-decoration: none;
  color: darkblue!important;
}

a:hover, a:active {
  text-decoration: underline;
}

a.small-button {
  color: #212529!important;
  padding: 3px 6px;
  font-size: 0.9rem;
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border: 1px solid gray;
  border-radius: .2rem;
}

a.small-button:hover {
  color: white!important;
  text-decoration: none;
  background-color: gray;
}

.nav-link {
  color: darkblue!important;
}

.nav-link:hover, .nav-link.active {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.icon {
  height: 18px;
  margin-left: 4px;
  margin-right: 4px;
  object-fit: contain;
}

ul.unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content {
  max-width: 1280px;
}

.sidebar {
  margin-bottom: 1rem;
  min-width: 280px;
  padding-top: 2.5rem!important;
  background-color: #eeeeee;
}

.emphasis {
  border: 2px solid rgb(57, 56, 59);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #eeeeee;
  font-size: 1.5rem;
  border-radius: .25rem;
  padding: .25rem;
  font-style: italic;
}

.section-header {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: #494949;
  font-family: sans-serif;
  font-size: 2rem;
  font-variant-caps: small-caps;
  font-style: italic;
}

#email:before {
  content: attr(data-user) "\0040" attr(data-domain);
}

#email:hover {
  cursor: pointer;
}

.publication {
  margin-bottom: 1rem;
  padding: .75rem;
  border: 1px solid lightgray;
  border-left: .25rem solid gray;
  border-radius: .25rem;
}

.publication > div {
  margin-bottom: 2px;
}

.cite {
  font-size: 24px;
  color: #596AB1;
  vertical-align: top;
}

.cite:link, .cite:hover, .cite:visited, .cite:active {
  color: darkslateblue;
}

.profile-picture {
  max-width: 220px;
  width: 100%;
  border-radius: 15px;
}

.darkergray, .darkergrey {
  color: #494949;
}

.gray, .grey {
  color: gray;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.news-date {
  width: 60px;
  padding-top: 4px;
  padding-right: 0;
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.news-month {
  border: 1px solid gray;
  font-size: 15px;
}

.news-year {
  color: white;
  background-color: gray;
  font-size: 12px;
}

.show-all {
  text-align: right;
  font-size: 14px;
}

.show-all span {
  font-size: 18px;
}

.twitter-follow-button {
  font-size: 12px;
  vertical-align: sub;
}
